<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.mapper.AlbumMapper">
    <resultMap id="AlbumMapper" type="Album">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="amount" property="amount"/>
        <result column="img_path" property="imgPath"/>
        <result column="score" property="score"/>
        <result column="author" property="author"/>
        <result column="board_cast" property="boardCast"/>
        <result column="publish_date" property="publishDate"/>
        <result column="brief" property="brief"/>
        <collection property="children" ofType="Chapter" javaType="java.util.List">
            <result column="id2" property="id"/>
            <result column="title2" property="title"/>
            <result column="size" property="size"/>
            <result column="duration" property="duration"/>
            <result column="publish_date" property="publishDate"/>
            <result column="radio_path" property="radioPath"/>
            <result column="album_id" property="albumId"/>
            <association property="album" javaType="Album"></association>
        </collection>
    </resultMap>
    <select id="queryAll" resultMap="AlbumMapper">
        select t1.*,
               t2.id    id2,
               t2.title title2,
               t2.size,
               t2.duration,
               t2.publish_date,
               t2.radio_path,
               t2.album_id
        from album t1
                 left JOIN chapter t2
                           on t1.id = t2.album_id

    </select>
</mapper>
